<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet"> 
    <title>Home</title>
</head>
<body>
    
    <header class ="main-header">
            <div class ="logo_barra">
                <div class ="logoml">
                    <img src= "/images/logo-mercado-liebre.svg">
                </div>
                <div class ="inputbus">
                        <div class = "butbusqueda">
                            <input type = "search" class= "busqueda"  placeholder = "Buscar productos, marcas">
                            <i class="fas fa-search" id="lupa"></i>
                        </div>
                </div>
                <div class ="compracuota">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>

            
            <nav>
                <div class="barranavegacion">
                    <div class ="primer_li_opt">
                
                            <a href="#">Ofertas</a>
                            <a href="#">Tiendas Oficiales</a>
                            <a href="#">Vender</a>
                            <a href="#">Ayuda</a>
        
                    </div>
                    <div class ="segundo_li_opt">
                        
                            <a href="/register" class ="Pruebtiqa">Creá tu cuenta<i class="fas fa-id-card"></i></a>
                            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                            <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                        
                    </div>
                </div> 
            </nav>
        
            <div class="burger-menu">
                    <i class="fas fa-bars"></i>
            </div> 
            <img src= "/images/img-home-banner.jpg" class="banner">   
    </header>
    
    <main>
        <section>

            <h1>Basado en tu última visita</h1>
            
            <div class ="contenedor_de_ultvisit">

                <div class="ArtProduc">

                    <img src ="/images/img-cafetera-moulinex.jpg">

                    <div class ="elemento_articulo">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$6.770</p>
                            <p class = "Descuento">40% OFF</p>
                        </div>
                    </div>

                        <p class = "Producto">Cafetera Moulinex</p>

                </div>

                <article class="ArtProduc">
                    <img src ="/images/img-macbook-pro-2019.jpg">
                    <div class ="elemento_articulo">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$230.000</p>
                            <p class = "Descuento">20% OFF</p>
                        </div>
                        <p class = "Producto">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="ArtProduc">
                    <img src ="/images/img-samsung-galaxy-s10.jpg">
                    <div class ="elemento_articulo">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$70.500</p>
                            <p class = "Descuento">10% OFF</p>
                        </div>
                        <p class = "Producto">Samsung Galaxy S10</p>
                    </div>
                </article>   

                <article class="ArtProduc"> 
                    <img src ="/images/img-tv-samsung-smart.jpg">
                    <div class ="elemento_articulo">
                        <i class="fas fa-truck" id="truck"></i>
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$23.200</p>
                            <p class = "Descuento">5% OFF</p>
                        </div>
                        <p class = "Producto">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
            
        </section>

        <section>

            <h1>Sección de Ofertas</h1>
           <div class ="contenedor_de_ofertas">          
                <article class="ArtProduc">

                    <div class ="imgart">
                        <img src ="/images/img-cafetera-moulinex.jpg">
                    </div>

                    <div class ="elemento_articulo">
                            <i class="fas fa-truck" id="truck"></i>
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$6.770</p>
                            <p class = "Descuento">40% OFF</p>
                        </div>
                        <p class = "Producto">Cafetera Moulinex</p>
                    </div>

                </article>

                <article class="ArtProduc">
                    <img src ="/images/img-macbook-pro-2019.jpg">
                    <div class ="elemento_articulo">
                        <!--<div class ="circulo">-->
                            <i class="fas fa-truck" id="truck"></i>
                        <!--</div>-->
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$230.000</p>
                            <p class = "Descuento">20% OFF</p>
                        </div>
                        <p class = "Producto">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="ArtProduc">
                    <img src ="/images/img-samsung-galaxy-s10.jpg">
                    <div class ="elemento_articulo">
                        <!--<div class ="circulo">-->
                            <i class="fas fa-truck" id="truck"></i>
                        <!--</div>-->
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$70.500</p>
                            <p class = "Descuento">10% OFF</p>
                        </div>
                        <p class = "Producto">Samsung Galaxy S10</p>
                    </div>
                </article>
                
                <article class="ArtProduc">
                    <img src ="/images/img-tv-samsung-smart.jpg">
                    <div class ="elemento_articulo">
                        <!--<div class ="circulo"> -->
                            <i class="fas fa-truck" id="truck"></i>
                        <!--</div>-->
                        <div class ="precio_descuento_order">
                            <p class = "Precio">$23.200</p>
                            <p class = "Descuento">5% OFF</p>
                        </div>
                        <p class = "Producto">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        
    </main>

    <footer>

        <section>
            <i class="fas fa-credit-card" id="card"></i>
            <h1>Pagá con tarjeta o en efectivo </h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift" id="gift"></i>
            <h1>Envío gratis desde $ 2.500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield" id="security"></i>
            <h1>Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>     
    

</body>
</html>