<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet"> 
    <title>Ingreso</title>
</head>
<body>
    
    <header class ="main-header">
        <div class ="logo_barra">
            <div class ="logoml">
                <img src= "/images/logo-mercado-liebre.svg">
            </div>
            <div class ="inputbus">
                    <div class = "butbusqueda">
                        <input type = "search" class= "busqueda"  placeholder = "Buscar productos, marcas">
                        <i class="fas fa-search" id="lupa"></i>
                    </div>
            </div>
            <div class ="compracuota">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        
        <nav>
            <div class="barranavegacion">
                <div class ="primer_li_opt">
            
                        <a href="#">Ofertas</a>
                        <a href="#">Tiendas Oficiales</a>
                        <a href="#">Vender</a>
                        <a href="#">Ayuda</a>
    
                </div>
                <div class ="segundo_li_opt">
                    
                        <a href="/register" class ="Pruebtiqa">Creá tu cuenta<i class="fas fa-id-card"></i></a>
                        <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                        <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                    
                </div>
            </div> 
        </nav>
    
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
        </div> 
        <img src= "/images/img-home-banner.jpg" class="banner">   
</header>
    
    <main>

        <div class ="FORM_LOGIN_USUARIO">
            <form action="/login" method="POST"  class ="FORMULARIO_LOGIN">
                
                <label for="Usuario">Nombre de Usuario</label>
                    <br>
                    <input type="text" name="Usuario" id="camptext" required>
                <br>
                <br>

               
                <label>Contraseña<br><input type="password" name="Password" id="camptext" required></label>
                <br>
                <br>

                <div class="buttons">
                    <button type="submit" href="/login.html" class ="EnviarLogin">Enviar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>

        <section>
            <i class="fas fa-credit-card" id="card"></i>
            <h1>Pagá con tarjeta o en efectivo </h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift" id="gift"></i>
            <h1>Envío gratis desde $ 2.500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield" id="security"></i>
            <h1>Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>        

</body>
</html>