@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/*--------------------------------------------------------------------------------*/
/* ----------------- GENERAL -----------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*--------------------------------------------------------------------------------*/
/* ----------------- HEADER -----------------------------------------------------*/
header {
    background-color: #EAC926;
}

/*--------------------------------------------------------------------------------*/
/* ----------------- MAIN -------------------------------------------------------*/
main img {
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 90%;
    padding-left: 10%;
}

main {
    max-width:  90%;
    max-height: 90%;
    width: 90%;
    margin-top:600px;
    background-color: #ebebeb;
}



main section article{
    margin-bottom: 10px;
    
}


/*--------------------------------------------------------------------------------*/
/* ----------------- FOOTER -----------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/* ----------------- FORMULARIO REGISTRO -----------------------------------------*/
.FORM_REGIS_USUARIO label{
    font-size: 1.5vw;  
    font-style: oblique; 
}

.FORM_REGIS_USUARIO{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.FORMULARIO_REGISTRO{
    color: #ebebeb;
    margin: 50px;
    padding: 30px;
    width: 40vw;
    border-radius: 8px ;
    border-style: dashed;
    background-color: #666;
    text-align: center;
}



#camptext{
    border-radius: 4px;
    border-color: #ebebeb;
    width: 15vw;
    
}



.fotperfil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    
}

.fotperfil i{
    font-size: 4vw;
    color: white;
}

.fotperfil input {
    width: 28%;
    height: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.categoria_intereses_opciones .interes_1_2_3{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.categoria_intereses_opciones .interes_1_2_3 label{
    padding-right: 5px;
}

.categoria_intereses_opciones .interes_4_5{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    justify-items: stretch;
    margin: 20px;
}

.categoria_intereses_opciones .interes_4_5 label{
   padding-right: 5px;
}

.buttons{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

button{
    width: 12vw;
    height: 8vh;
    border-radius: 5px;
    border-color: #ebebeb;
    text-align: center;
    font-size: 2vw;
}

.Enviar{
    background-color: #1259c3;
}


/*--------------------------------------------------------------------------------*/
/* ----------------- FORMULARIO LOGIN -----------------------------------------*/
.FORM_LOGIN_USUARIO label{
    font-size: 2vw;  
    font-style: oblique; 
}

.FORM_LOGIN_USUARIO{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FORMULARIO_LOGIN{
    color: #ebebeb;
    margin: 50px;
    padding: 30px;
    width: 40vw;
    border-radius: 8px #EAC926;
    border-style: dashed;
    background-color: #666;
    text-align: center;
}


.EnviarLogin:hover{
    background-color: #0022AA;
    transition-property:background-color ;
    transition-duration: 0.20s;
   
}



/*--------------------------------------------------------------------------------*/
/* ------------------------- MEDIAS QUERIES ------------------------------------*/
@media (max-width:390px){
    
    *{
        box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
    }
/*--------------------------------------------------------------------------------*/
/* ----------------- HEADER -------------------------------------------------------*/
    
    .compracuota {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
    }
    
   

    .barranavegacion{
        display:none;
    }

    .burger-menu{
        align-content: center;
        width: 25px;
        height: 25px;
        background-color:#1259c3;
        font-size: 25px;
        color:white;
        margin:auto;
        border-radius: 6px;
        position: relative;
    }

    .burger-menu i{
        font-size: 14px;
        position: absolute;
        top:8px;
        left:7px;
    }

    .banner{
        display: none;
        margin: 0px auto;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        width: 100%;
        position: relative;

    }

    .main-header .logo_barra{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logoml{
        display: block;
        width: 100%;
        text-align: center;
        margin:auto;
    }

    .logoml img{
        width: 50%;
    }

   

    .compracuota {
        display: block;
        margin: 0px;
       
    }

    .compracuota p {
        text-align: center;
        margin:10px;
    }
    .main-header .inputbus{
        display: none;
    }

    main {
        margin: auto;
        position: relative;
       
    }

    main section h1{
        font-size: 16px;
        text-align: left;
    }

    main section {
        margin: auto;
        padding: 10px;
        z-index: 10;
    }

/*--------------------------------------------------------------------------------*/
/* ----------------- MAIN -------------------------------------------------------*/

    .elemento_articulo{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: solid 0.1px;
        border-color: #ebebeb;
        padding-top:  10px;
    }

    .elemento_articulo .precio_descuento_order{
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-top: 2px;
    }

    .ArtProduc{
        border-top: solid 1px #ebebeb;
        box-sizing: border-box;
        background-color: white;
        width: 80%;
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .Producto{
        display: none;
    }
    

    #truck{
        margin:auto;
        font-size: 10px;
        padding: 1%;
        background-color: transparent ;
        border-radius: 20px;
        border: solid 1px green;
        color:green;
        position: relative;
        top: -20px;
        left: 45px;
    }
    
    
    .Precio{
        font-size: 14px;
        text-align: center;
        width: 50%;
    }
    
    .Descuento{
        font-size: 14px;
        text-align: center;
        color: green;
        width: 50%;
    }

    .contenedor_de_ofertas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor_de_ultvisit{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

/*----------------------------------------------------------------------------------*/
/* ----------------- FOOTER -------------------------------------------------------*/
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    footer section {
        margin:5px;
        text-align: center;
    }


    footer section p{
        font-size: 12px;
    }

    footer section h1{
        font-size: 14px;
    }

    #card{
        font-size: 18px;
        color: #1259c3;
        margin-bottom: 10px;
    }

    #gift{
        color: #1259c3;
        margin-bottom: 10px;
        font-size: 18px;
    }

    #security{
        font-size: 18px;
        color: #1259c3;
        margin-bottom: 10px;
    }

}



@media (min-width:391px){

    *{
        box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
    }

/*--------------------------------------------------------------------------------*/
/* ----------------- HEADER -------------------------------------------------------*/
    .burger-menu{
        display:none;
    }


    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        width: 100%;
        position: relative;

    }

    .main-header .logo_barra{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .logoml{
        display: block;
        width: 32.2vw;
        text-align: center;
        margin:auto;
    }

    .logoml img{
        width: 100%;
    }

 
    
    .busqueda_form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .busqueda_form .busqueda{
        width: 35vw;
        height: 5vh;
        border-color: transparent;
        border-radius:  5px;
    }
    
    
    
    .busqueda_form .butbusqueda{
        width: 32vw;
        margin:0px;
        padding: 0px;
        display: flex;
        position: relative;
    }
    
    .fas.fa-search{
        background-color: transparent;
        color: #666;
        border: none;
        position: relative;
        top: 3.2vw;
        top: 0.2vw;
        right: 3.5vw;
    }

    .compracuota {
        margin: 0px;
        width: 32.2vw;
    }

    .compracuota p {
        font-size: 2vw;
        text-align: center;
        margin:5px;
    }

    .primer_li_opt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .primer_li_opt a{
        font-size: 1.8vw;
        margin-left: 5px;
        padding: 1px;
    }
     
    .segundo_li_opt  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .segundo_li_opt a {
        font-size: 1.8vw;
        margin-left: 5px;
        padding: 1px;
    }

    .segundo_li_opt i {
        font-size: 1.8vw;
        margin-left: 2px;
        
    }

    .barranavegacion {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .banner{
        display: none;
        margin: 0px auto;
    }

    .main-header .inputbus{
        display:flex;
        width: 32vw;
        margin:0px;
        justify-content: center;
    }

    .main-header .inputbus .butbusqueda .busqueda{
       width: 25vw;
       height: 5vh;
       border-radius: 8px;
       border-color: transparent;
    }

/*--------------------------------------------------------------------------------*/
/* ----------------- MAIN -------------------------------------------------------*/
    main {
        margin: auto;
        position: relative;
       
    }

    main section h1{
        font-size: 16px;
        text-align: left;
    }

    main section {
        margin: auto;
        padding: 10px;
        z-index: 10;
    }

    .ArtProduc{
        border-top: solid 2px #ebebeb;
        box-sizing: border-box;
        background-color: white;
        width: 45%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .elemento_articulo{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: solid 0.1px;
        border-color: #ebebeb;
        padding-top:  10px;
    }

    .elemento_articulo .precio_descuento_order{
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-top: 2px;
    }
    

    #truck{
        margin:auto;
        font-size: 10px;
        padding: 1%;
        background-color: transparent ;
        border-radius: 20px;
        border: solid 1px green;
        color:green;
        position: relative;
        top: -20px;
        left: 45px;
    }
    
    
    .Precio{
        font-size: 14px;
        text-align: center;
        width: 50%;
    }
    
    .Descuento{
        font-size: 14px;
        text-align: center;
        color: green;
        width: 50%;
    }

    .Producto{
        font-size: 14px;
        text-align: left;
        width: 100%;
        padding-left: 15px;
    }

    .contenedor_de_ofertas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .contenedor_de_ultvisit{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
/*--------------------------------------------------------------------------------*/
/* ----------------- FOOTER -------------------------------------------------------*/
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    footer section {
        margin:5px;
        text-align: center;
    }


    footer section p{
        font-size: 12px;
    }

    footer section h1{
        font-size: 14px;
    }

    #card{
        font-size: 18px;
        color: #1259c3;
        margin-bottom: 10px;
    }

    #gift{
        font-size: 18px;
        color: #1259c3;
        margin-bottom: 10px;
    }

    #security{
        font-size: 18px;
        color: #1259c3;
        margin-bottom: 10px;
    }

    
}




@media (min-width:769px){

    *{
        box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
    }

/*----------------------------------------------------------------------------------*/
/* ----------------- HEADER -------------------------------------------------------*/
    .burger-menu{
        display:none;
    }

    .butbusqueda {
        margin:0px;
        padding: 0px;
    }
    
    .busqueda_form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .busqueda_form .busqueda{
        border-color: transparent;
        border-radius:  5px;
    }
    
    
    
    .busqueda_form .butbusqueda{
        display: flex;
        position: relative;
    }
    
    .fas.fa-search{
        background-color: transparent;
        color: #666;
        border: none;
        position: relative;
        top: 0.2vw;
        right: 2.5vw;
        font-size: 1.3vw;
    }
        
    .main-header {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        margin:auto;
        width: 100%;
        /*position: relative;*/

    }


    .main-header .logo_barra{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;     
    }

    .logoml{
        width: 32vw;
        margin:0px;
    }


    .main-header .inputbus{
        display:flex;
        width: 32vw;
        margin:0px;
        justify-content: center;
    }

    .main-header .inputbus .butbusqueda .busqueda{
       width: 25vw;
       height: 5vh;
       border-radius: 8px;
       border-color: transparent;
    }

    

    .compracuota {
        width: 32vw;
        margin: 0px;
    }

    .compracuota p {
        text-align: center;
        font-size: 1.5vw;
    }

    .compracuota i {
        text-align: center;
        font-size: 1.5vw;
        margin-right:4px;

    }


    .primer_li_opt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }

    .primer_li_opt a{
        font-size: 1.8vw;
        margin: 5px;
        padding: 5px;
    }
     
    .segundo_li_opt  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    
    .segundo_li_opt a {
        font-size: 1.8vw;
        margin: 5px;
        padding: 5px;
    }

    .segundo_li_opt i {
        font-size: 1.8vw;
        margin-left:4px;
    }

    .barranavegacion {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .banner{
        height: 30vh;
        display: block;
        margin: 0px;
    }
    
/*----------------------------------------------------------------------------------*/
/* ----------------- MAIN -------------------------------------------------------*/
    main section h1{
        font-size: 2vw;
        margin-bottom: 5px;
    }
    .contenedor_de_ofertas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .contenedor_de_ultvisit{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .ArtProduc:hover {
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    
    .Producto{
        font-size: 1.5vw;
        padding-left:10px;
    }
    
    .ArtProduc .Producto{
        display: none;
        
    }

    .ArtProduc:hover .Producto{
        display: inline;
    }

    .ArtProduc{
        border-top: solid 1px #ebebeb;
        box-sizing: border-box;
        background-color: white;
        width: 20%;
        margin: auto;

        
    }

    

    .elemento_articulo{
        border-top: solid 1px #ebebeb;
        padding: 10px;
        background-color: white;
        width: 100%;
        margin: auto;
        position: relative;
    }

    .elemento_articulo .precio_descuento_order{
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-top: 2px;
    }

    #truck{
        margin:auto;
        padding: 2%;
        background-color: transparent ;
        border-radius: 20px;
        border: solid 1px green;
        color:green;
        font-size: 1vw;
        position: relative;
        top: -20.5px;
        left: 70px;
    }
    
    #truck:hover{
        transform: rotate(-90deg);
        transition-property: transform ;
        transition-duration: 0.40s;
    }

    .Precio{
        font-size: 1.5vw;
        width: 50%;
        text-align: left;
        margin: auto;
    }
    
    .Descuento{
        font-size: 1.5vw;
        width: 50%;
        text-align: right;
        margin: auto;
    }

/*----------------------------------------------------------------------------------*/
/* ----------------- FOOTER -------------------------------------------------------*/

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer section {
        text-align: center;
    }

    footer section p{
        font-size: 1.2vw;
    }

    footer section h1{
        font-size: 1.5vw;
    }

    #card{
        font-size: 2vw;
        color: #1259c3;
        margin-bottom: 10px;
        text-align: center;
    }

    #gift{
        font-size: 2vw;
        color: #1259c3;
        margin-bottom: 10px;
    }

    #security{
        font-size: 2vw;
        color: #1259c3;
        margin-bottom: 10px;
    }    

    #card:hover{
        font-size: 2vw;
        color: #666;
    }

    #gift:hover{
        font-size: 2vw;
        color: #666;
    }

    #security:hover{
        font-size: 2vw;
        color: #666;
    }    

    
}